.main-footer{background-color:#343a40;border-color:#4b545c}.required_Span{color:red!important;font-weight:700}.back-to-top{bottom:2.7rem!important}.liveClock_span{color:rgba(255,255,255,.75)!important;padding:.5rem 1rem!important}.select2-results__option {font-size: 14px!important;}
.dir_ar{direction:rtl!important;text-align:right}
.dir_en{direction:ltr!important;text-align:left;width:100%}
.tc{text-align: center!important}
.TD_20{width:20px!important;}.TD_30{width:30px!important}.TD_40{width:40px!important}.TD_50{width:50px!important}.TD_60{width:60px!important}.TD_70{width:70px!important}
.TD_80{width:80px!important}.TD_90{width:90px!important}.TD_100{width:100px!important}.TD_110{width:110px!important}.TD_120{width:120px!important}.TD_130{width:130px!important}
.TD_140{width:140px!important}.TD_150{width:150px!important}.TD_160{width:160px!important}.TD_170{width:170px!important}.TD_180{width:180px!important}
.TD_190{width:190px!important}.TD_200{width:200px!important}.TD_250{width:250px!important}.TD_300{width:300px!important}.TD_350{width:350px!important}
.Td_Count{font-size:22px!important;}
.BB_Number{font-size:22px!important;}
.tableImg{ max-width: 80px; max-height: 80px; margin-right: 20px; margin-left: 20px;}
.sort_banner_name{  padding: 30px; font-size: 20px; font-weight: bold}
.sort_banner_img{ max-height: 100px;}
.hidediv{display: none!important;}
.def_h1{font-size: 20px; line-height: 25px}
.mainForm{padding-bottom:50px;}
.mainForm .def_form_label{font-size:15px!important;margin-bottom:0!important;padding-top:8px;padding-bottom:7px;font-weight:700!important;color:rgba(0,0,0,.8)!important; width:100%}
.error_mass{font-size: 80%;color: #dc3545;}
.table td,.table th{padding:.75rem;vertical-align:middle;border-top:1px solid #dee2e6}
.table .tbutaction{ text-align:center;}
.TableIcon{font-size:20px}


.def_card_header .card-title{font-size:16px!important;font-weight:700!important;line-height:30px}
.div_data{padding:0 10px}


.amenity_table_icon{font-size:30px;color:#FFF;padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;min-width:60px;text-align:center}
.popover-body{direction:ltr!important}
#iconpicker_target{width:150px;font-size:40px;padding:0!important}
#iconpicker_target i{margin-right:10px;margin-left:10px;font-size:35px}


.watermark_imgView{background:#6f6f80;float:right;width:100%;text-align:center!important;height:300px}
.watermark_imgView img{max-height:300px;max-width:400px}

.PhotoImageCard{text-align:center;width:100%;height:200px;background-color:rgba(0,0,0,.3)}
.PhotoImageCard img{max-width:95%;max-height:200px}
.ListItem-12{background-color:rgba(255,255,255,1); padding: 5px 20px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius: 5px; }


.breadcrumb_menutree{
    background:rgba(255,255,255,1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    border-top: 3px solid #007bff;
    font-size: 15px;
    font-weight: revert;

}

.uploadFilterForm .form-control{padding:10px!important;font-size:14px;height:40px}
.uploadFilterForm .select2-container--default .select2-selection--single{border:1px solid #ced4da;height:40px;padding:10px!important;font-size:14px}
.uploadFilterForm .select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:22px!important}
.uploadFilterForm hr{margin-top:.7rem;margin-bottom:.7rem}
.uploadFilterForm .form-group{margin-bottom:.2rem}
.fileUploadCurrent img {max-width:250px;}


input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}


div.dataTables_wrapper div.dataTables_filter input {
    width: 350px;
}



.btn_app_new {
  border-radius: 3px;
  background-color: #f8f9fa;
  border: 0px solid #ddd;
  color: #6c757d;
  font-size: 12px;
  height: 60px;
  margin: 0 0 10px 10px;
  min-width: 70px;
  padding: 15px 5px;
  position: relative;
  text-align: center;
}

.btn_app_new > .badge {
  font-size: 12px;
  font-weight:normal!important;
  min-width:20px;

}




.card-body.p-0 .table thead > tr > th:last-of-type, .card-body.p-0 .table thead > tr > td:last-of-type, .card-body.p-0 .table tfoot > tr > th:last-of-type, .card-body.p-0 .table tfoot > tr > td:last-of-type, .card-body.p-0 .table tbody > tr > th:last-of-type, .card-body.p-0 .table tbody > tr > td:last-of-type {
  padding-right:.75rem
}







._green{color:#090!important}
._red{color:#c00!important}
._hide{display:none!important}
._bold{font-weight:700}
._large{font-size:large!important}
.big_text{
    min-height: 270px!important;
}

/*
.databox{width:98%!important;max-width:98%!important}
.GoolgeTipDiv{font-size:1.3em!important;margin-top:10px!important;margin-bottom:10px!important}
.google_err{background-color:rgba(255, 51, 51, 0.2)!important;}
.google_err2{background-color:rgb(255, 255, 77,0.2)!important;}
.google_title{width:100%; font-size:18px; font-weight:bold; color:rgb(26, 13, 171) ; margin-bottom:5px;}
.google_url{width:100%;font-family:"Noto Naskh Arabic UI", arial, sans-serif; font-size:14px; color:rgb(0, 102, 33); margin-bottom:5px;}
.google_url_dir{direction: ltr!important;}
.google_url_link{color:rgb(0, 102, 33); }
.google_des{width:100%; color:rgb(84, 84, 84);font-size:16px; margin-bottom:5px; }
.GoogleBorder{width:100%;padding:20px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid rgba(255,51,51,0.1)!important}
.Print_r{display:block;font-family:monospace;white-space:pre;margin:1em 0;direction:ltr!important;text-align:left!important;font-size:1.2em}
.Pro_view_info .div_info{font-size:1.6em;margin-bottom:10px}
.Pro_view_info .div_info span{font-size:1em!important;margin-right:20px;color:red}
.google_SeoDiv .div_info{font-size:1.6em;margin-bottom:10px;float:right}
.google_SeoDiv .div_info span{font-size:1em!important;margin-right:20px;color:red;float:right;width:80%!important}
.addBorder{border-bottom:1px solid #e2e5ec;padding-bottom:8px;margin-bottom:10px}
.Div_Container{margin-bottom:5px;font-size:1.1em!important;line-height:1.8em!important}
.Div_Container .div_title{width:25%!important;float:right;font-weight:700;color:#1b5dab}
.Div_Container .div_span{width:75%!important;float:right;font-size:1.2em!important;line-height:1.9em!important}
*/


.cat_table_name{
    font-size: 12px;
    padding: 4px 6px;
    max-width: 100px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    display: inline-block;

    text-overflow: ellipsis;
    white-space: nowrap!important;
    overflow: hidden!important;
    border-radius: 0.2rem;

}


.Qr_Div{
    background: #FFFFFF!important;
    margin-top: 20px;
    padding: 30px;
}

.Qr_row{
    margin:10px;
    padding: 20px;


    border: 1px solid rgba(0,0,0,.2);
}

.Qr_row h1{
    font-size: 30px;

}


.invoice-col{
    margin-bottom: 20px;


}

.invoice-col h2{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 8px;
}

.invoice-col p{
    margin-bottom: 3px;
    font-size: 16px;
}


.invoice h4{
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.total_invoice{
    font-size:25px;
    font-weight: bold;
}

.reject_mass p{
    margin-bottom: 5px;
}



.OpeningHours_DayName h1{
    font-size: 25px;
    color: red;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
